In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
!pwd

/home/thwalker/jupyter_ws

In [4]:
!ls

get_your_data.ipynb
IMDB-Movie-Data.csv
introduction-to-jupyter-notebooks-630fe098-d868-47eb-9691-2799b4ef832d.csv
intro_panda.ipynb
labeledarray.py
__pycache__

In [5]:
df1 = pd.read_csv("IMDB-Movie-Data.csv")

### Get first 5 entries using .head()

In [6]:
df1.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [7]:
df1.tail()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

In [8]:
df1.head(2)

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0

Index the CSV by Title, then change the labels of the columns

In [10]:
df1 = pd.read_csv("IMDB-Movie-Data.csv", index_col="Title")

In [11]:
df1.columns = ["rank", "genre", "desc", "dir", "actor", "year", "length", "rating", "votes", "rev", "mscore"]

In [12]:
df1.index.name = "title"

In [13]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, Guardians of the Galaxy to Nine Lives
Data columns (total 11 columns):
rank      1000 non-null int64
genre     1000 non-null object
desc      1000 non-null object
dir       1000 non-null object
actor     1000 non-null object
year      1000 non-null int64
length    1000 non-null int64
rating    1000 non-null float64
votes     1000 non-null int64
rev       872 non-null float64
mscore    936 non-null float64
dtypes: float64(3), int64(4), object(4)
memory usage: 93.8+ KB

In [14]:
df1.shape

(1000, 11)

In [15]:
df1.describe()

,rank,year,length,rating,votes,rev,mscore
count,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,872.000000,936.000000
mean,500.500000,2012.783000,113.172000,6.723200,1.698083e+05,82.956376,58.985043
std,288.819436,3.205962,18.810908,0.945429,1.887626e+05,103.253540,17.194757
min,1.000000,2006.000000,66.000000,1.900000,6.100000e+01,0.000000,11.000000
25%,250.750000,2010.000000,100.000000,6.200000,3.630900e+04,13.270000,47.000000
50%,500.500000,2014.000000,111.000000,6.800000,1.107990e+05,47.985000,59.500000
75%,750.250000,2016.000000,123.000000,7.400000,2.399098e+05,113.715000,72.000000
max,1000.000000,2016.000000,191.000000,9.000000,1.791916e+06,936.630000,100.000000

find what entries have a null value:

In [16]:
df1.isnull().sum()

rank        0
genre       0
desc        0
dir         0
actor       0
year        0
length      0
rating      0
votes       0
rev       128
mscore     64
dtype: int64

Revenues and Metascore have null values, they will now be changed:

In [17]:
df1['rev'].fillna(df1['rev'].mean(),inplace=True)

In [18]:
df1['mscore'].fillna(df1['mscore'].mean(),inplace=True)

Verify that the rev and mscore columns no longer have null values:

In [19]:
df1.isnull().sum()

rank      0
genre     0
desc      0
dir       0
actor     0
year      0
length    0
rating    0
votes     0
rev       0
mscore    0
dtype: int64

Drop the rank column:

In [20]:
df1.drop(['rank'],axis=1,inplace=True)

Note: axis=0 is for rows, axis=1 is for columns

In [21]:
df1.groupby(["year"]).mean()

          length    rating          votes         rev     mscore
year
2006  120.840909  7.125000  269289.954545   86.144835  64.044435
2007  121.622642  7.133962  244331.037736   87.510481  63.771609
2008  110.826923  6.784615  275505.384615   98.772623  57.499137
2009  116.117647  6.960784  255780.647059  110.276186  57.195492
2010  111.133333  6.826667  252782.316667  103.975319  59.383084
2011  114.603175  6.838095  240790.301587   87.538355  61.506749
2012  119.109375  6.925000  285226.093750  107.973281  61.077658
2013  116.065934  6.812088  219049.648352   86.984496  58.559618
2014  114.489796  6.837755  203930.224490   84.992097  57.366889
2015  114.496063  6.602362  115726.220472   78.862278  57.101891
2016  107.373737  6.436700   48591.754209   63.446588  58.352075

In [22]:
df1.groupby(["year"]).mean().sort_values(by=["rev"],ascending=False)

          length    rating          votes         rev     mscore
year
2009  116.117647  6.960784  255780.647059  110.276186  57.195492
2012  119.109375  6.925000  285226.093750  107.973281  61.077658
2010  111.133333  6.826667  252782.316667  103.975319  59.383084
2008  110.826923  6.784615  275505.384615   98.772623  57.499137
2011  114.603175  6.838095  240790.301587   87.538355  61.506749
2007  121.622642  7.133962  244331.037736   87.510481  63.771609
2013  116.065934  6.812088  219049.648352   86.984496  58.559618
2006  120.840909  7.125000  269289.954545   86.144835  64.044435
2014  114.489796  6.837755  203930.224490   84.992097  57.366889
2015  114.496063  6.602362  115726.220472   78.862278  57.101891
2016  107.373737  6.436700   48591.754209   63.446588  58.352075

Sort the movies from 2012 by revenue:

In [23]:
df1[df1['year'] == 2012].sort_values(by=['rev'],ascending=False)

,genre,desc,dir,actor,year,length,rating,votes,rev,mscore
title,,,,,,,,,,
The Avengers,"Action,Sci-Fi",Earth's mightiest heroes must come together an...,Joss Whedon,"Robert Downey Jr., Chris Evans, Scarlett Johan...",2012,143,8.1,1045588,623.28,69.0
The Dark Knight Rises,"Action,Thriller",Eight years after the Joker's reign of anarchy...,Christopher Nolan,"Christian Bale, Tom Hardy, Anne Hathaway,Gary ...",2012,164,8.5,1222645,448.13,78.0
The Hunger Games,"Adventure,Sci-Fi,Thriller",Katniss Everdeen voluntarily takes her younger...,Gary Ross,"Jennifer Lawrence, Josh Hutcherson, Liam Hemsw...",2012,142,7.2,735604,408.00,68.0
Skyfall,"Action,Adventure,Thriller",Bond's loyalty to M is tested when her past co...,Sam Mendes,"Daniel Craig, Javier Bardem, Naomie Harris, Ju...",2012,143,7.8,547386,304.36,81.0
The Hobbit: An Unexpected Journey,"Adventure,Fantasy","A reluctant hobbit, Bilbo Baggins, sets out to...",Peter Jackson,"Martin Freeman, Ian McKellen, Richard Armitage...",2012,169,7.9,668651,303.00,58.0
...,...,...,...,...,...,...,...,...,...,...
Spring Breakers,Drama,Four college girls hold up a restaurant in ord...,Harmony Korine,"Vanessa Hudgens, Selena Gomez, Ashley Benson,R...",2012,94,5.3,114290,14.12,63.0
Dredd,"Action,Sci-Fi","In a violent, futuristic city where the police...",Pete Travis,"Karl Urban, Olivia Thirlby, Lena Headey, Rache...",2012,95,7.1,213764,13.40,59.0
Anna Karenina,"Drama,Romance","In late-19th-century Russian high society, St....",Joe Wright,"Keira Knightley, Jude Law, Aaron Taylor-Johnso...",2012,129,6.6,75291,12.80,63.0
Jagten,Drama,"A teacher lives a lonely life, all the while s...",Thomas Vinterberg,"Mads Mikkelsen, Thomas Bo Larsen, Annika Wedde...",2012,115,8.3,192263,0.61,76.0
The First Time,"Comedy,Drama,Romance",A shy senior and a down-to-earth junior fall i...,Jon Kasdan,"Dylan O'Brien, Britt Robertson, Victoria Justi...",2012,95,6.9,54027,0.02,55.0

In [24]:
df1[df1['year'] == 2009].sort_values(by=['rev'],ascending=False)

,genre,desc,dir,actor,year,length,rating,votes,rev,mscore
title,,,,,,,,,,
Avatar,"Action,Adventure,Fantasy",A paraplegic marine dispatched to the moon Pan...,James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver...",2009,162,7.8,935408,760.510000,83.000000
Transformers: Revenge of the Fallen,"Action,Adventure,Sci-Fi",Sam Witwicky leaves the Autobots behind for a ...,Michael Bay,"Shia LaBeouf, Megan Fox, Josh Duhamel, Tyrese ...",2009,150,6.0,335757,402.080000,35.000000
Harry Potter and the Half-Blood Prince,"Adventure,Family,Fantasy",As Harry Potter begins his sixth year at Hogwa...,David Yates,"Daniel Radcliffe, Emma Watson, Rupert Grint, M...",2009,153,7.5,351059,301.960000,78.000000
Up,"Animation,Adventure,Comedy",Seventy-eight year old Carl Fredricksen travel...,Pete Docter,"Edward Asner, Jordan Nagai, John Ratzenberger,...",2009,96,8.3,722203,292.980000,88.000000
The Hangover,Comedy,Three buddies wake up from a bachelor party in...,Todd Phillips,"Zach Galifianakis, Bradley Cooper, Justin Bart...",2009,100,7.8,611563,277.310000,73.000000
Star Trek,"Action,Adventure,Sci-Fi",The brash James T. Kirk tries to live up to hi...,J.J. Abrams,"Chris Pine, Zachary Quinto, Simon Pegg, Leonar...",2009,127,8.0,526324,257.700000,82.000000
The Blind Side,"Biography,Drama,Sport","The story of Michael Oher, a homeless and trau...",John Lee Hancock,"Quinton Aaron, Sandra Bullock, Tim McGraw,Jae ...",2009,129,7.7,237221,255.950000,53.000000
Sherlock Holmes,"Action,Adventure,Crime",Detective Sherlock Holmes and his stalwart par...,Guy Ritchie,"Robert Downey Jr., Jude Law, Rachel McAdams, M...",2009,128,7.6,501769,209.020000,57.000000
X-Men Origins: Wolverine,"Action,Adventure,Sci-Fi","A look at Wolverine's early life, in particula...",Gavin Hood,"Hugh Jackman, Liev Schreiber, Ryan Reynolds, D...",2009,107,6.7,388447,179.880000,40.000000
2012,"Action,Adventure,Sci-Fi",A frustrated writer struggles to keep his fami...,Roland Emmerich,"John Cusack, Thandie Newton, Chiwetel Ejiofor,...",2009,158,5.8,297984,166.110000,49.000000
The Proposal,"Comedy,Drama,Romance",A pushy boss forces her young assistant to mar...,Anne Fletcher,"Sandra Bullock, Ryan Reynolds, Mary Steenburge...",2009,108,6.7,241709,163.950000,48.000000
Fast & Furious,"Action,Crime,Thriller","Brian O'Conner, back working for the FBI in Lo...",Justin Lin,"Vin Diesel, Paul Walker, Michelle Rodriguez, J...",2009,107,6.6,217464,155.020000,46.000000
G.I. Joe: The Rise of Cobra,"Action,Adventure,Sci-Fi",An elite military unit comprised of special op...,Stephen Sommers,"Dennis Quaid, Channing Tatum, Marlon Wayans,Ad...",2009,118,5.8,180105,150.170000,32.000000
Terminator Salvation,"Action,Adventure,Drama","In 2018, a mysterious new weapon in the war ag...",McG,"Christian Bale, Sam Worthington, Anton Yelchin...",2009,115,6.6,297093,125.320000,49.000000
Inglourious Basterds,"Adventure,Drama,War","In Nazi-occupied France during World War II, a...",Quentin Tarantino,"Brad Pitt, Diane Kruger, Eli Roth,Mélanie Laurent",2009,153,8.3,959065,120.520000,69.000000
District 9,"Action,Sci-Fi,Thriller",An extraterrestrial race forced to live in slu...,Neill Blomkamp,"Sharlto Copley, David James, Jason Cope, Natha...",2009,112,8.0,556794,115.650000,81.000000
Couples Retreat,Comedy,A comedy centered around four couples who sett...,Peter Billingsley,"Vince Vaughn, Malin Akerman, Jon Favreau, Jaso...",2009,113,5.5,86417,109.180000,23.000000
Watchmen,"Action,Drama,Mystery","In 1985 where former superheroes exist, the mu...",Zack Snyder,"Jackie Earle Haley, Patrick Wilson, Carla Gugi...",2009,162,7.6,410249,107.500000,56.000000
The Princess and the Frog,"Animation,Adventure,Comedy","A waitress, desperate to fulfill her dreams as...",Ron Clements,"Anika Noni Rose, Keith David, Oprah Winfrey, B...",2009,97,7.1,95480,104.370000,73.000000
Public Enemies,"Biography,Crime,Drama",The Feds try to take down notorious American g...,Michael Mann,"Christian Bale, Johnny Depp, Christian Stolte,...",2009,140,7.0,240323,97.030000,70.000000
The Ugly Truth,"Comedy,Romance",A romantically challenged morning show produce...,Robert Luketic,"Katherine Heigl, Gerard Butler, Bree Turner, E...",2009,96,6.5,172558,88.920000,28.000000
Up in the Air,"Drama,Romance",Ryan Bingham enjoys living out of a suitcase f...,Jason Reitman,"George Clooney, Vera Farmiga, Anna Kendrick,Ja...",2009,109,7.4,279694,83.810000,58.985043
Hachi: A Dog's Tale,"Drama,Family",A college professor's bond with the abandoned ...,Lasse Hallström,"Richard Gere, Joan Allen, Cary-Hiroyuki Tagawa...",2009,93,8.1,177602,82.956376,61.000000
He's Just Not That Into You,"Comedy,Drama,Romance",The Baltimore-set movie of interconnecting sto...,Ken Kwapis,"Jennifer Aniston, Jennifer Connelly, Morgan Li...",2009,129,6.4,137684,82.956376,47.000000
Mr. Nobody,"Drama,Fantasy,Romance",A boy stands on a station platform as a train ...,Jaco Van Dormael,"Jared Leto, Sarah Polley, Diane Kruger, Linh D...",2009,141,7.9,166872,82.956376,63.000000
Triangle,"Fantasy,Mystery,Thriller",The story revolves around the passengers of a ...,Christopher Smith,"Melissa George, Joshua McIvor, Jack Taylor,Mic...",2009,99,6.9,72533,82.956376,66.000000
Zombieland,"Adventure,Comedy,Horror",A shy student trying to reach his family in Oh...,Ruben Fleischer,"Jesse Eisenberg, Emma Stone, Woody Harrelson,A...",2009,88,7.7,409403,75.590000,73.000000
Coraline,"Animation,Family,Fantasy",An adventurous girl finds another world that i...,Henry Selick,"Dakota Fanning, Teri Hatcher, John Hodgman, Je...",2009,100,7.7,156620,75.280000,80.000000
Law Abiding Citizen,"Crime,Drama,Thriller",A frustrated man decides to take justice into ...,F. Gary Gray,"Gerard Butler, Jamie Foxx, Leslie Bibb, Colm M...",2009,109,7.4,228339,73.340000,34.000000
Friday the 13th,Horror,A group of young adults discover a boarded up ...,Marcus Nispel,"Jared Padalecki, Amanda Righetti, Derek Mears,...",2009,97,5.6,78631,65.000000,34.000000
17 Again,"Comedy,Drama,Family",Mike O'Donnell is ungrateful for how his life ...,Burr Steers,"Zac Efron, Matthew Perry, Leslie Mann, Thomas ...",2009,102,6.4,152808,64.150000,48.000000
Bride Wars,"Comedy,Romance",Two best friends become rivals when they sched...,Gary Winick,"Kate Hudson, Anne Hathaway, Candice Bergen, Br...",2009,89,5.5,83976,58.720000,24.000000
Precious,Drama,"In New York City's Harlem circa 1987, an overw...",Lee Daniels,"Gabourey Sidibe, Mo'Nique, Paula Patton, Maria...",2009,110,7.3,91623,47.540000,79.000000
Underworld: Rise of the Lycans,"Action,Adventure,Fantasy",An origins story centered on the centuries-old...,Patrick Tatopoulos,"Rhona Mitra, Michael Sheen, Bill Nighy, Steven...",2009,92,6.6,129708,45.800000,44.000000
The Lovely Bones,"Drama,Fantasy,Thriller",Centers on a young girl who has been murdered ...,Peter Jackson,"Rachel Weisz, Mark Wahlberg, Saoirse Ronan, Su...",2009,135,6.7,130702,43.980000,42.000000
Orphan,"Horror,Mystery,Thriller",A husband and wife who recently lost their bab...,Jaume Collet-Serra,"Vera Farmiga, Peter Sarsgaard, Isabelle Fuhrma...",2009,123,7.0,153448,41.570000,42.000000
Notorious,"Biography,Crime,Drama",The life and death story of Notorious B.I.G. (...,George Tillman Jr.,"Jamal Woolard, Anthony Mackie, Derek Luke,Momo...",2009,122,6.7,33007,36.840000,60.000000
(500) Days of Summer,"Comedy,Drama,Romance",An offbeat romantic comedy about a woman who d...,Marc Webb,"Zooey Deschanel, Joseph Gordon-Levitt, Geoffre...",2009,95,7.7,398972,32.390000,76.000000
Fantastic Mr. Fox,"Animation,Adventure,Comedy",An urbane fox cannot resist returning to his f...,Wes Anderson,"George Clooney, Meryl Streep, Bill Murray, Jas...",2009,87,7.8,149779,21.000000,83.000000
El secreto de sus ojos,"Drama,Mystery,Romance",A retired legal counselor writes a novel hopin...,Juan José Campanella,"Ricardo Darín, Soledad Villamil, Pablo Rago,Ca...",2009,129,8.2,144524,20.170000,80.000000
Jennifer's Body,"Comedy,Horror",A newly possessed high school cheerleader turn...,Karyn Kusama,"Megan Fox, Amanda Seyfried, Adam Brody, Johnny...",2009,102,5.1,96617,16.200000,47.000000
Pandorum,"Action,Horror,Mystery",A pair of crew members aboard a spaceship wake...,Christian Alvart,"Dennis Quaid, Ben Foster, Cam Gigandet, Antje ...",2009,108,6.8,126656,10.330000,28.000000
Män som hatar kvinnor,"Drama,Mystery,Thriller",A journalist is aided in his search for a woma...,Niels Arden Oplev,"Michael Nyqvist, Noomi Rapace, Ewa Fröling,Len...",2009,152,7.8,182074,10.100000,76.000000
Dragonball Evolution,"Action,Adventure,Fantasy",The young warrior Son Goku sets out on a quest...,James Wong,"Justin Chatwin, James Marsters, Yun-Fat Chow, ...",2009,85,2.7,59512,9.350000,45.000000
The Imaginarium of Doctor Parnassus,"Adventure,Fantasy,Mystery",A traveling theater company gives its audience...,Terry Gilliam,"Christopher Plummer, Lily Cole, Heath Ledger,A...",2009,123,6.8,130153,7.690000,65.000000
3 Idiots,"Comedy,Drama",Two friends are searching for their long lost ...,Rajkumar Hirani,"Aamir Khan, Madhavan, Mona Singh, Sharman Joshi",2009,170,8.4,238789,6.520000,67.000000
Moon,"Drama,Mystery,Sci-Fi",Astronaut Sam Bell has a quintessentially pers...,Duncan Jones,"Sam Rockwell, Kevin Spacey, Dominique McElligo...",2009,97,7.9,277123,5.010000,67.000000
Antichrist,"Drama,Horror",A grieving couple retreat to their cabin in th...,Lars von Trier,"Willem Dafoe, Charlotte Gainsbourg, Storm Ache...",2009,108,6.6,94069,0.400000,49.000000
The Human Centipede (First Sequence),Horror,A mad scientist kidnaps and mutilates a trio o...,Tom Six,"Dieter Laser, Ashley C. Williams, Ashlynn Yenn...",2009,92,4.4,60655,0.180000,33.000000
Kynodontas,"Drama,Thriller","Three teenagers live isolated, without leaving...",Yorgos Lanthimos,"Christos Stergioglou, Michele Valley, Angeliki...",2009,94,7.3,50946,0.110000,73.000000
The Road,"Adventure,Drama","In a dangerous post-apocalyptic world, an aili...",John Hillcoat,"Viggo Mortensen, Charlize Theron, Kodi Smit-Mc...",2009,111,7.3,187302,0.060000,58.985043

What were the highest rated movies in the Comedy and Action genres?

In [25]:
df1[df1['genre'].isin(['Comedy','Action'])].sort_values(by=['rating'],ascending=False)

,genre,desc,dir,actor,year,length,rating,votes,rev,mscore
title,,,,,,,,,,
The Hangover,Comedy,Three buddies wake up from a bachelor party in...,Todd Phillips,"Zach Galifianakis, Bradley Cooper, Justin Bart...",2009,100,7.8,611563,277.310000,73.000000
Superbad,Comedy,Two co-dependent high school seniors are force...,Greg Mottola,"Michael Cera, Jonah Hill, Christopher Mintz-Pl...",2007,113,7.6,442082,121.460000,76.000000
Boyka: Undisputed IV,Action,In the fourth installment of the fighting fran...,Todor Chapkanov,"Scott Adkins, Teodora Duhovnikova, Alon Aboutb...",2016,86,7.4,10428,82.956376,58.985043
Everybody Wants Some!!,Comedy,"In 1980, a group of college baseball players n...",Richard Linklater,"Blake Jenner, Tyler Hoechlin, Ryan Guzman,Zoey...",2016,117,7.0,36312,3.370000,83.000000
Step Brothers,Comedy,Two aimless middle-aged losers still living at...,Adam McKay,"Will Ferrell, John C. Reilly, Mary Steenburgen...",2008,98,6.9,223065,100.470000,51.000000
Paris pieds nus,Comedy,Fiona visits Paris for the first time to assis...,Dominique Abel,"Fiona Gordon, Dominique Abel,Emmanuelle Riva, ...",2016,83,6.8,222,82.956376,58.985043
Project X,Comedy,3 high school seniors throw a birthday party t...,Nima Nourizadeh,"Thomas Mann, Oliver Cooper, Jonathan Daniel Br...",2012,88,6.7,164088,54.720000,48.000000
American Reunion,Comedy,"Jim, Michelle, Stifler, and their friends reun...",Jon Hurwitz,"Jason Biggs, Alyson Hannigan,Seann William Sco...",2012,113,6.7,178471,56.720000,49.000000
Entourage,Comedy,"Movie star Vincent Chase, together with his bo...",Doug Ellin,"Adrian Grenier, Kevin Connolly, Jerry Ferrara,...",2015,104,6.6,64557,32.360000,38.000000
The Interview,Comedy,Dave Skylark and his producer Aaron Rapoport r...,Evan Goldberg,"James Franco, Seth Rogen, Randall Park, Lizzy ...",2014,112,6.6,261536,6.110000,52.000000
Let's Be Cops,Comedy,Two struggling pals dress as police officers f...,Luke Greenfield,"Jake Johnson, Damon Wayans Jr., Rob Riggle, Ni...",2014,104,6.5,112729,82.390000,30.000000
The DUFF,Comedy,A high school senior instigates a social pecki...,Ari Sandel,"Mae Whitman, Bella Thorne, Robbie Amell, Allis...",2015,101,6.5,57874,34.020000,56.000000
The Dictator,Comedy,The heroic story of a dictator who risked his ...,Larry Charles,"Sacha Baron Cohen, Anna Faris, John C. Reilly,...",2012,83,6.4,225394,59.620000,58.000000
Neighbors,Comedy,After they are forced to live next to a frater...,Nicholas Stoller,"Seth Rogen, Rose Byrne, Zac Efron, Lisa Kudrow",2014,97,6.4,236500,150.060000,68.000000
Mindhorn,Comedy,A has-been actor best known for playing the ti...,Sean Foley,"Essie Davis, Andrea Riseborough, Julian Barrat...",2016,89,6.4,2490,82.956376,71.000000
The Internship,Comedy,Two salesmen whose careers have been torpedoed...,Shawn Levy,"Vince Vaughn, Owen Wilson, Rose Byrne, Aasif M...",2013,119,6.3,166342,44.670000,42.000000
Why Him?,Comedy,A holiday gathering threatens to go off the ra...,John Hamburg,"Zoey Deutch, James Franco, Tangie Ambrose,Cedr...",2016,111,6.3,48123,60.310000,39.000000
Bad Moms,Comedy,When three overworked and under-appreciated mo...,Jon Lucas,"Mila Kunis, Kathryn Hahn, Kristen Bell,Christi...",2016,100,6.2,66540,113.080000,60.000000
Good Kids,Comedy,Four high school students look to redefine the...,Chris McCoy,"Zoey Deutch, Nicholas Braun, Mateo Arias, Isra...",2016,86,6.1,3843,82.956376,86.000000
Dirty Grandpa,Comedy,"Right before his wedding, an uptight guy is tr...",Dan Mazer,"Robert De Niro, Zac Efron, Zoey Deutch, Aubrey...",2016,102,6.0,75137,35.540000,18.000000
Grown Ups,Comedy,After their high school basketball coach passe...,Dennis Dugan,"Adam Sandler, Salma Hayek, Kevin James, Chris ...",2010,102,6.0,190385,162.000000,30.000000
Sisters,Comedy,Two sisters decide to throw one last house par...,Jason Moore,"Amy Poehler, Tina Fey, Maya Rudolph, Ike Barin...",2015,118,6.0,50241,87.030000,58.000000
Office Christmas Party,Comedy,When his uptight CEO sister threatens to shut ...,Josh Gordon,"Jason Bateman, Olivia Munn, T.J. Miller,Jennif...",2016,105,5.8,30761,54.730000,42.000000
Neighbors 2: Sorority Rising,Comedy,When their new next-door neighbors turn out to...,Nicholas Stoller,"Seth Rogen, Rose Byrne, Zac Efron, Chloë Grace...",2016,92,5.7,76327,55.290000,58.000000
Folk Hero & Funny Guy,Comedy,A successful singer-songwriter hatches a plan ...,Jeff Grace,"Alex Karpovsky, Wyatt Russell, Meredith Hagner...",2016,88,5.6,220,82.956376,63.000000
Couples Retreat,Comedy,A comedy centered around four couples who sett...,Peter Billingsley,"Vince Vaughn, Malin Akerman, Jon Favreau, Jaso...",2009,113,5.5,86417,109.180000,23.000000
Grown Ups 2,Comedy,After moving his family back to his hometown t...,Dennis Dugan,"Adam Sandler, Kevin James, Chris Rock, David S...",2013,101,5.4,114482,133.670000,19.000000
The Comedian,Comedy,A look at the life of an aging insult comic na...,Taylor Hackford,"Robert De Niro, Leslie Mann, Danny DeVito, Edi...",2016,120,5.4,1954,1.660000,40.000000
The Boss,Comedy,A titan of industry is sent to prison after sh...,Ben Falcone,"Melissa McCarthy, Kristen Bell, Peter Dinklage...",2016,99,5.4,29642,63.030000,40.000000
Amateur Night,Comedy,Guy Carter is an award-winning graduate studen...,Lisa Addario,"Jason Biggs, Janet Montgomery,Ashley Tisdale, ...",2016,92,5.0,2229,82.956376,38.000000
Kickboxer: Vengeance,Action,A kick boxer is out to avenge his brother.,John Stockwell,"Dave Bautista, Alain Moussi, Gina Carano, Jean...",2016,90,4.9,6809,131.560000,37.000000
Chalk It Up,Comedy,When a super girly-girl is dumped by her boyfr...,Hisonni Johnson,"Maddy Curley, John DeLuca, Nikki SooHoo, Drew ...",2016,90,4.8,499,82.956376,58.985043
Zoolander 2,Comedy,Derek and Hansel are lured into modeling again...,Ben Stiller,"Ben Stiller, Owen Wilson, Penélope Cruz, Will ...",2016,102,4.7,48297,28.840000,34.000000
Disaster Movie,Comedy,"Over the course of one evening, an unsuspectin...",Jason Friedberg,"Carmen Electra, Vanessa Lachey,Nicole Parker, ...",2008,87,1.9,77207,14.170000,15.000000

Best rated movie, with least amount of revenue generated (using quantiles, top 1% of rating, top 25% of revenue):

In [26]:
df1[
    (df1['rating'] > df1['rating'].quantile(0.99))
    & (df1['rev'] < df1['rev'].quantile(0.25))
]

,genre,desc,dir,actor,year,length,rating,votes,rev,mscore
title,,,,,,,,,,
Kimi no na wa,"Animation,Drama,Fantasy",Two strangers find themselves linked in a biza...,Makoto Shinkai,"Ryûnosuke Kamiki, Mone Kamishiraishi, Ryô Nari...",2016,106,8.6,34110,4.68,79.000000
Dangal,"Action,Biography,Drama",Former wrestler Mahavir Singh Phogat and his t...,Nitesh Tiwari,"Aamir Khan, Sakshi Tanwar, Fatima Sana Shaikh,...",2016,161,8.8,48969,11.15,58.985043
The Intouchables,"Biography,Comedy,Drama",After he becomes a quadriplegic from a paragli...,Olivier Nakache,"François Cluzet, Omar Sy, Anne Le Ny, Audrey F...",2011,112,8.6,557965,13.18,57.000000