In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
data = np.reshape(np.arange(9),(3,3))

In [4]:
data

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [5]:
df1 = pd.DataFrame(data)

In [6]:
df1

   0  1  2
0  0  1  2
1  3  4  5
2  6  7  8

In [7]:
df1.columns = ("A", "B", "C")

In [8]:
df1.index = ("first", "second", "third")

In [9]:
df1

        A  B  C
first   0  1  2
second  3  4  5
third   6  7  8

In [10]:
df2 = pd.DataFrame(np.random.rand(3,3))

In [11]:
df2.columns = ["D", "E", "F"]

In [12]:
df2.index = ["first", "second", "third"]

In [13]:
df2

               D         E         F
first   0.944189  0.403028  0.374172
second  0.211637  0.691934  0.968006
third   0.185589  0.899905  0.196208

In [14]:
df3 = pd.concat((df1,df2),axis=1)

In [15]:
df3

        A  B  C         D         E         F
first   0  1  2  0.944189  0.403028  0.374172
second  3  4  5  0.211637  0.691934  0.968006
third   6  7  8  0.185589  0.899905  0.196208

In [16]:
df3.dtypes

A      int64
B      int64
C      int64
D    float64
E    float64
F    float64
dtype: object

In [17]:
df3.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [18]:
df3["F"]

first     0.374172
second    0.968006
third     0.196208
Name: F, dtype: float64

In [19]:
df3.loc["first"]

A    0.000000
B    1.000000
C    2.000000
D    0.944189
E    0.403028
F    0.374172
Name: first, dtype: float64

In [20]:
df3.iloc[0]

A    0.000000
B    1.000000
C    2.000000
D    0.944189
E    0.403028
F    0.374172
Name: first, dtype: float64

In [21]:
df3.iloc[2][2]

8.0